/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  color: #0b0b0b;
  background-color: #fff;
  text-align: center;
}

main {
  padding: 2%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 12rem;
}

h1 {
  font-size: 6rem;
  font-family: "Alfa Slab One", serif;
  text-transform: capitalize;
  color: #0b0b0b;
}

h2 {
  font-size: 4rem;
  /* font-family: "Pacifico", cursive; */
  font-family: "Mulish", sans-serif;
  text-transform: none;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.green-t {
  color: #de4a4e;
}

/* nav */

nav {
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #0b0b0b;
}

nav ul li a:hover {
  color: #de4a4e;
}

.active {
  color: #de4a4e;
}

/* nav end*/

/* form */

form {
  margin: 0 0 5rem 0;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

select {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

form button {
  margin-top: 2rem;
}

form input,
form select {
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* form end */

button {
  font-family: "Alfa Slab One", serif;
  text-transform: uppercase;
  margin: 1rem;
  background-color: #0b0b0b;
  border: 2px solid #0b0b0b;
  color: #fff;
  border-radius: 2px;
  padding: 1rem 4rem;
}

button:hover,
button:focus {
  background-color: transparent;
  border-color: #0b0b0b;
  color: #0b0b0b;
}

.icon-btn {
  cursor: pointer;
  margin-left: 1rem;
  transition: color 0.2s ease;
  color: #0b0b0b;
}

.icon-btn.edit {
  margin-left: 3rem;
}

.icon-btn:hover {
  color: #de4a4e;
}

.flex-cont {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.flex-cont .c-right {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #fff;
  color: #0b0b0b;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-image: url("/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer p {
  font-weight: 700;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .flex-cont {
    flex-direction: column;
  }

  .c-right {
    margin-top: 5rem;
  }

  h1 {
    font-size: 3.3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }

  .c-right {
    max-width: 100%;
    margin: 5rem auto 2rem auto;
    width: 100%;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
